.content-framework {
    width: 1050px;
}

.photo-photo {
    text-align: center;
    place-items: center;
    display: inline-block;
    height: 246px;
    margin-left: 5px;
    margin-right: 5px;
}

.photo-photo img {
    height: 100%;
}

.photo-photo img:hover {
    transform: scale(2.2) translate(0px, 27px);
}

.photo-photo p {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.cat {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.group-member {
    height: 170px;
    margin-bottom: 20px;
}

.member-photo {
    display: inline-block;
    height: 170px;
    width: 170px;
    text-align: center;
    margin-right: 10px;
}

.member-photo img {
    height: 100%;
}

.member-info-sets {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    width: 750px;
}

.member-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
}

.member-status {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.member-interests, .member-email, .member-misc {
    font-size: 18px;
    line-height: 1.5;
}

