.content-framework {
    width: 1080px;
}

.photo-photo {
    display: grid;
    text-align: center;
    place-items: center;
    display:inline-block;
    height: 243px;
    width: 324px;
    margin-left: 5px;
    margin-right: 5px;
}

.photo-photo img {
    width: 100%;
}

.photo-photo img:hover {
    transform: scale(2.2) translate(0px, 27px);
}

.photo-photo p {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.cat {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
