.photo-framework {
    width: 1080px;
}

.photo-photo {
    display: grid;
    place-items: center;
    display:inline-block;
    width: 30%;
    margin-left: 0px;
    margin-right: 0px;
}

.photo-photo img {
    width: 100%;
}

.photo-photo p {
    text-align: center;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
}


